:root {
  --cell-size: 2rem;
  --green: #40a02b;
  --black: #494d64;
  /* The initial board dimensions are not relevant */
  --board-height: 0;
  --board-width: 0;
}

body {
  align-items: center;
  background-color: #24273a;
  display: flex;
  height: 96vh;
  justify-content: center;
  width: 97vw;
}

.board {
  background-color: gray;
  display: grid;
  grid-template-columns: repeat(var(--board-width), var(--cell-size));
  grid-template-rows: repeat(var(--board-width), var(--cell-size));
  height: calc(var(--board-height) * var(--cell-size));
  width: calc(var(--board-width) * var(--cell-size));
}

.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  z-index: 10;
}

.cell-alive {
  background-color: var(--green);
}

.cell-dead {
  background-color: var(--black);
}
